@model Pages.CP.SettingsModel
@{
}
@if (Model.SelectedButton == null)
{
    <div class="inputBox">
        <div class="header">
            <div class="float-right"><a asp-page-handler="ButtonAdd"><i class="fas fa-plus"></i></a></div> <i class="far fa-square"></i> Buttons
        </div>
        <div class="content">
            <table class="table table-sm">
                @for (int i=0;i<Model.Buttons.Count;i++)
                {
                    StreamingLiveLib.Button button = Model.Buttons[i];
                    <tr>
                        <td><a href="@button.Url" target="_blank">@button.Text</a></td>
                        <td class="text-right">
                            <a asp-page-handler="ButtonUp" asp-route-idx="@i"><i class="fas fa-arrow-up"></i></a>
                            <a asp-page-handler="ButtonDown" asp-route-idx="@i"><i class="fas fa-arrow-down"></i></a>
                            <a asp-page-handler="ButtonEdit" asp-route-id="@button.Id"><i class="fas fa-pencil-alt"></i></a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
}
else
{
    <div class="inputBox">
        <div class="header"><i class="far fa-square"></i> Edit Button</div>
        <div class="content">
            <div class="form-group">
                <label>Text</label>
                <input type="text" class="form-control" asp-for="ButtonText" />
                <input type="hidden" asp-for="ButtonId" />
            </div>
            <div class="form-group">
                <label>Url</label>
                <input type="text" class="form-control" asp-for="ButtonUrl" />
            </div>
        </div>
        <div class="footer">
            <div class="row">
                @if (Model.SelectedButton != null && Model.SelectedButton.Id > 0)
                {
                    <div class="col"><input type="submit" asp-page-handler="ButtonDelete" class="btn btn-danger btn-block" value="Delete" /></div>
                }
                <div class="col"><input type="submit" asp-page-handler="ButtonCancel" class="btn btn-warning btn-block" value="Cancel" /></div>
                <div class="col"><input type="submit" asp-page-handler="ButtonSave" class="btn btn-primary btn-block" value="Save" /></div>
            </div>
        </div>
    </div>
}