@model Pages.CP.SettingsModel
@{
}
@if (Model.SelectedTab == null)
{
    <div class="inputBox">
        <div class="header"><div class="float-right"><a asp-page-handler="TabAdd"><i class="fas fa-plus"></i></a></div><i class="fas fa-folder"></i> Tabs</div>
        <div class="content">
            <table class="table table-sm">
                <asp:Literal ID="TabsLit" runat="server" />
                @for (int i = 0; i < Model.Tabs.Count; i++)
                {
                    StreamingLiveLib.Tab tab = Model.Tabs[i];
                    <tr>
                        <td><a href="@tab.Url" target="_blank"><i class="@tab.Icon"></i> @tab.Text</a></td>
                        <td class="text-right">
                            <a asp-page-handler="TabUp" asp-route-idx="@i"><i class="fas fa-arrow-up"></i></a>
                            <a asp-page-handler="TabDown" asp-route-idx="@i"><i class="fas fa-arrow-down"></i></a>
                            <a asp-page-handler="TabEdit" asp-route-id="@tab.Id"><i class="fas fa-pencil-alt"></i></a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
}
else
{
<div class="inputBox">
    <div class="header"><i class="fas fa-folder"></i> Edit Tab</div>
        <div class="content">
            <div class="form-group">
                <label>Text</label>
                <div class="input-group">
                    <input type="text" class="form-control" asp-for="TabText" />
                    <div class="input-group-append"><button class="btn btn-secondary" role="iconpicker" name="TabIcon" id="TabIcon" runat="server" data-icon="@Model.TabIcon" data-iconset="fontawesome5"></button></div>
                </div>
                <input type="hidden" asp-for="TabId" />
            </div>
            <div class="form-group">
                <label>Type</label>
                <select asp-for="TabType" class="form-control" onchange="tabTypeChanged()">
                    <option value="url">External Url</option>
                    <option value="page">Page</option>
                    <option value="chat">Chat</option>
                    <option value="prayer">Prayer</option>
                </select>
            </div>
            @if (Model.TabType == "url")
            {
                <div class="form-group">
                    <label>Url</label>
                    <input type="text" class="form-control" asp-for="TabUrl" />
                </div>

            }
            @if (Model.TabType == "page")
            {
                <div class="form-group">
                    <label>Page</label>
                    <select asp-for="TabData" class="form-control" asp-items="Model.Pages" ></select>
                </div>
            }
            <div class="footer">
                <div class="row">
                    @if (Model.SelectedTab != null && Model.SelectedTab.Id > 0)
                    {
                        <div class="col"><input type="submit" asp-page-handler="TabDelete" class="btn btn-danger btn-block" value="Delete" /></div>
                    }
                    <div class="col"><input type="submit" asp-page-handler="TabCancel" class="btn btn-warning btn-block" value="Cancel" /></div>
                    <div class="col"><input type="submit" asp-page-handler="TabSave" class="btn btn-primary btn-block" value="Save" /></div>
                </div>
            </div>
        </div>
    </div>
}
